.connexion {

  margin-top: 10em;
  background-color: #f6f6f6;
  padding : 2em;
  border-radius: 12px;

}

.inscription {

  margin-top: 5em;
  background-color: #f6f6f6;
  padding : 2em;
  border-radius: 12px;

}

.lock {
  height: 75px;
  width: 125px;
  margin-bottom: 2em;
}

.indexBody {
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size: 1000px 1000px;
}

.logo {
  height: 75px;
  width: 100px;
}

.text{
  font-size: 22px;
}

.foot {
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: #222222;
  margin-top: 4em;
}

#Infos_Generales {
  color: white;
}



.cardLeft {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  border-right: none;
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  color : white;
  padding: 2em;

}

.cardRight {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  border-right: none;
  padding: 2em;
}

.title {
  color: grey;
  font-size: 20px;

}

span {
  color: #1b1e21;
  padding-right: 10px;
}

.pencilPost {
  color : white;
}


.card-img-top {
  height: 125px;
  width: 125px;
}

.cardProfil {
  margin-top: 4em;
}

.edit {
  font-size: 24px;
}

.postForm {
  margin-top: 2em;
}

.postBody {
  background-color: #faebd7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em;

}

.postPhoto {
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em;
}

.photoProfil {
  border-radius: 50%;
}

.photoHome {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.postContent {
  margin-bottom: 2em;
}

.date {
  color: grey;
}

.formEdit {
  background-color: #faebd7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 2em;
  padding: 1em;
}

.cardPhoto {
  background-color: #f6f6f6;
}

.card-body {
  background-color: #faebd7;
}

.card {
  margin-top: 4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.map {
  margin-top: 8em;
  margin-left: 2em;
}

.cross {
  background-color: #faebd7;
}

.commentaires {
  border-right: lightgray 1px solid;
}

.commentPencil {
  color: white;
}

.bannerBde {
  background-color: #f6f6f6;
  height: 12em;
  padding: 1em;
}

.bde {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.editButton {
  background-color: white;
}

.iconEdit {
  color:  #007bff;
  font-size: 18px;
}

.cardLeftAdmin {
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  border-right: none;
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  color : white;
  padding: 2em;
}

.cardRightAdmin {
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  border-right: none;
  padding: 2em;
}

.banner {
  height: 150px;
  background-color: #f6f6f6;

}

.bannerTitle {
  padding-top: 1em;
  font-weight: bold;
}

.commentBde {
  margin-top: 1em;
}

.postComment {
  margin-top: 2em;
}


