.connexion {

  margin-top: 10em;
  background-color: white;
  padding : 2em;
  border :lightgray 1px solid;
  border-radius: 12px;

}

.lock {
  height: 125px;
  width: 125px;
  margin-bottom: 2em;
}

.indexBody {
  background-image:url(../Images/trianglify.svg);
  background-size: 2500px;
}