.connexion {

  margin-top: 10em;
  background-color: #f6f6f6;
  padding : 2em;
  border-radius: 12px;

}

.inscription {

  margin-top: 5em;
  background-color: #f6f6f6;
  padding : 2em;
  border-radius: 12px;

}

.lock {
  height: 125px;
  width: 125px;
  margin-bottom: 2em;
}

.indexBody {
  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size: 1000px 1000px;
}

.logo {
  height: 100px;
  width: 100px;
}

.text{
  font-size: 22px;
}

.foot {
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: #222222;
}

#Infos_Generales {
  color: white;
}